<div class="container">
  <div class="image-container">
    <div class="grid">
      <mat-card class="card" *ngFor="let photo of photos">
        <mat-card-header>
          <mat-card-title>Photo {{ photo.id }}</mat-card-title>
          <mat-card-subtitle>Album: {{ photo.albumId }}</mat-card-subtitle>
        </mat-card-header>

        <img
          class="image"
          mat-card-image
          [src]="photo.thumbnailUrl"
          alt="photo"
          [routerLink]="['/photos', photo.id]"
        />
        <mat-card-content class="content">
          <p>
            {{ photo.title | truncate }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
