<!-- <div class="container">
  <h1 class="fw-light text-center mt-4 mb-0">Mini Instagram</h1>
  <div class="text-end">
    <a class="btn btn-primary" [routerLink]="['/photos/upload']"
      >Add New Photo</a
    >
  </div>

  <hr class="mt-2 mb-5" />

  <div class="row text-center">
    <div class="col-lg-3 col-md-4 col-6" *ngFor="let photo of photos">
      <a [routerLink]="['/photos', photo.id]" class="mb-4 h-100">
        <img
          class="img-fluid img-thumbnail mb-5"
          [src]="photo.thumbnailUrl"
          [alt]="photo.title"
        />
      </a>
      title
    </div>
  </div>
</div> -->
<div class="container">
  <app-nav-menu></app-nav-menu>

  <div class="image-container">
    <mat-card class="example-card" *ngFor="let photo of photos">
      <mat-card-header>
        <mat-card-title>Photo {{ photo.id }}</mat-card-title>
        <mat-card-subtitle>Album: {{ photo.albumId }}</mat-card-subtitle>
      </mat-card-header>

      <img
        class="image"
        mat-card-image
        [src]="photo.url"
        alt="Photo of a Shiba Inu"
        [routerLink]="['/photos', photo.id]"
      />
      <mat-card-content class="content">
        <p>
          {{ photo.title }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
