.container {
margin-top: 10px;

}

.image-container {
  width: 100%; /* Adjust the max-width as needed */
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Display three columns */
  gap: 50px;
}

.card {
  max-width: 250px;
  margin-bottom: 40px;
  display: flex;

  align-items: center;
}

.image {
  cursor: pointer;
  max-width: 150px;
  max-height: 150px;
}

.content {
  padding-top: 5px;
}
