<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          name="title"
          [(ngModel)]="imgObject.title"
          #titleInput
        />
        <!-- napraj gi required //card?-->
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Image Url</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Url"
          name="url"
          [(ngModel)]="imgObject.url"
          #urlInput
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Image thumbnail</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Thumbnail"
          name="thumbnailUrl"
          [(ngModel)]="imgObject.thumbnailUrl"
          #thumbnailUrlInput
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
