<div class="container">
  <form #form="ngForm" class="custom-form" (ngSubmit)="onSubmit(form)">
    <h2 class="form-title">{{ title }}</h2>
    <mat-form-field class="custom-form-field">
      <mat-label class="custom-label">Image Title</mat-label>
      <input
        matInput
        name="title"
        [(ngModel)]="imgObject.title"
        class="custom-input"
        required
      />
    </mat-form-field>
    <mat-form-field class="custom-form-field">
      <mat-label class="custom-label">Image Url</mat-label>
      <input
        matInput
        name="url"
        [(ngModel)]="imgObject.url"
        class="custom-input"
        required
      />
    </mat-form-field>
    <mat-form-field class="custom-form-field">
      <mat-label class="custom-label">Thumbnail Url</mat-label>
      <input
        matInput
        name="thumbnailUrl"
        ngModel
        class="custom-input"
        [(ngModel)]="imgObject.thumbnailUrl"
        required
      />
    </mat-form-field>
    <button mat-fab extended color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </form>
</div>
