<!-- <div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          name="title"
          [(ngModel)]="imgObject.title"
          #titleInput
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Image Url</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Url"
          name="url"
          [(ngModel)]="imgObject.url"
          #urlInput
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Image thumbnail</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Thumbnail"
          name="thumbnailUrl"
          [(ngModel)]="imgObject.thumbnailUrl"
          #thumbnailUrlInput
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div> -->
<div class="container">
  <form #form="ngForm" class="custom-form" (ngSubmit)="onSubmit()">
    <h2 class="form-title">{{ title }}</h2>
    <mat-form-field class="custom-form-field">
      <mat-label class="custom-label">Image Title</mat-label>
      <input
        matInput
        name="title"
        [(ngModel)]="imgObject.title"
        class="custom-input"
        required
      />
    </mat-form-field>
    <mat-form-field class="custom-form-field">
      <mat-label class="custom-label">Image Url</mat-label>
      <input
        matInput
        name="url"
        [(ngModel)]="imgObject.url"
        class="custom-input"
        required
      />
    </mat-form-field>
    <mat-form-field class="custom-form-field">
      <mat-label class="custom-label">Thumbnail Url</mat-label>
      <input
        matInput
        name="thumbnailUrl"
        ngModel
        class="custom-input"
        [(ngModel)]="imgObject.thumbnailUrl"
        required
      />
    </mat-form-field>
    <button mat-fab extended color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </form>
</div>
