<div class="container" *ngIf="img">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Photo: {{ img.id }}</mat-card-title>
      <mat-card-subtitle>Album: {{ img.albumId }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="img.url" alt="Photo" />
    <mat-card-content>
      <p>
        {{ img.title }}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button
        mat-fab
        extended
        color="primary"
        [routerLink]="['/photos', img.id, 'edit']"
      >
        <mat-icon>edit</mat-icon>
        Edit
      </button>

      <button mat-fab extended color="warn" (click)="openDialog()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
