.container {
  margin-top: 10px;

}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  gap: 48px;
}

.card {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.image {
  cursor: pointer;
  max-width: 150px;
  max-height: 150px;
}

.content {
  padding-top: 5px;
}